# Go workspace file
go.work
go.work.sum

# env file
.env

# nix / direnv
result
.direnv

# Editor/IDE
.idea/
.vscode/

# Claude
CLAUDE.local.md
.claude

# Data
data/*
!data/.gitkeep

# Binaries
bin

# MacOS
.DS_Store

docs/api